__pycache__
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.cache
.coverage
.coverage.*
.eggs/
.env
.env.*
.history
.hypothesis/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.Python build/
.python-version
.tox/
.venv
.vscode/*
*.bak
*.cover
*.egg
*.egg-info/
*.iws
*.log
*.manifest
*.pot
*.py[cod]
*.pyc
*.sage.py
*.spec
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.whl
*$py.class
/site
atlassian-ide-plugin.xml
celerybeat-schedule.*
Control.ca-bundle
Control.ca-list
Control.last-run
Control.system-ca-bundle
coverage.xml
db.sqlite3
develop-eggs/
dist/
downloads/
eggs/
env.bak/
env/
ENV/
GitHub.sublime-settings
htmlcov/
lib/
lib64/
media
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
sftp-config.json
var/
venv.bak/
venv/
wheels/